.section-listCart{
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   padding-top: 12rem;
   margin-bottom: 10rem;
}

.total{
   display: flex;
   justify-content: flex-end;
   width: 35%;
   margin-top: 1rem;
}

.total-cart{
   color: #ff93ad;
   font-size: 2em;
   font-family: "neuehaas", Sans-serif;
}

.total-cart span{
   font-weight: 900;
   color: #FFFFFF;
   font-family: "neuehaas", Sans-serif;
   margin-left: 0.5rem;
}

.section-noWish__cart{
   padding-top: 20rem;
   margin-bottom: 10rem;
}