.tittle-page-error{
   color:#FFFFFF;
   font-family: "coign", Sans-serif;
   font-size: 400px;
   font-weight: 100;
   margin-right: 1rem;
   margin-bottom: -2rem;
   height: 27.5rem;
   line-height: 0.73em;
}

.page-404{
   padding: 20rem 5rem 0 5rem;
   margin-bottom: 10rem;
}

.not-found{
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
}

.title-error{
   color:#ff93ad;
}

.not-found a:hover{
   color:#ff93ad;
}
